// Place all the styles related to the Pantry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #pantry {

// margin-left: 400px;
// margin-right: 500px;
// margin-top: 100px;
// padding-bottom: 15px;
// padding-top: 15px;
// background-color: #A9ABAD;

// }

// #dropbar {
// margin-left: 280px;
// margin-right: 10px;
// margin-left: 400px;
// margin-top: 100px;
// }

// #backg {
// background-color: #A9ABAD;
// }

// h1 {
//  text-align: center; margin-left: 200px;  background-color: #D90429; color: white; border-color: white; border-style: solid; border-size: 5px;
// }


